In [51]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [ ]:

url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [ ]:
results = soup.find_all('div', class_='list_text')

In [ ]:
titles = []
paragraphs = []
for result in results:
    title = result.find('a').text
    paragraph = result.find('div', class_='article_teaser_body').text
    
    titles.append(title)
    paragraphs.append(paragraph)
    print(title)
    print(paragraph)
    print('------------------------------------------------------------------')

In [ ]:
print('Most recent news from NASA Mars News')
print(f"News title: {titles[0]}")
print(f"News body: {paragraphs[0]}")

# JPL Mars Space Images - Featured Image

In [ ]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(img_url)
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [ ]:
image_results = soup.find_all('div', class_ = "carousel_items")

In [ ]:
for image_result in image_results:
    image = image_result.find('article',class_='carousel_item')
    print(image)
featured_image = image['style'].split("'")[1]
featured_image_url = "https://www.jpl.nasa.gov"+ featured_image

In [ ]:
featured_image_url

# Mars Weather

In [5]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [13]:
posts = soup.find_all('div', class_='js-tweet-text-container')

In [22]:
weather_of_Mars = []
for post in posts:
    weather = post.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
    weather_of_Mars.append(weather)
weather_of_Mars

['InSight sol 334 (2019-11-04) low -100.0ºC (-148.1ºF) high -23.8ºC (-10.8ºF)\nwinds from the SSW at 5.1 m/s (11.4 mph) gusting to 19.9 m/s (44.4 mph)\npressure at 7.00 hPapic.twitter.com/D4EX1MROay',
 'InSight sol 333 (2019-11-03) low -100.8ºC (-149.4ºF) high -25.8ºC (-14.4ºF)\nwinds from the SSW at 4.9 m/s (11.0 mph) gusting to 18.0 m/s (40.4 mph)\npressure at 6.90 hPa',
 'InSight sol 332 (2019-11-02) low -99.8ºC (-147.7ºF) high -25.2ºC (-13.3ºF)\nwinds from the SSW at 4.1 m/s (9.2 mph) gusting to 18.7 m/s (41.9 mph)\npressure at 6.90 hPa',
 'InSight sol 331 (2019-11-01) low -100.9ºC (-149.6ºF) high -24.6ºC (-12.3ºF)\nwinds from the SSE at 5.2 m/s (11.6 mph) gusting to 18.5 m/s (41.4 mph)\npressure at 7.00 hPapic.twitter.com/jicxvaUZh1',
 'InSight sol 330 (2019-10-31) low -101.8ºC (-151.3ºF) high -24.8ºC (-12.6ºF)\nwinds from the SSE at 5.4 m/s (12.2 mph) gusting to 20.8 m/s (46.5 mph)\npressure at 7.00 hPapic.twitter.com/nMo54muCBo',
 'InSight sol 329 (2019-10-30) low -101.5ºC (-150.7ºF) high -25.0ºC (-13.0ºF)\nwinds from the SSE at 5.2 m/s (11.6 mph) gusting to 19.2 m/s (42.8 mph)\npressure at 7.00 hPapic.twitter.com/LqWHBwF74A',
 'InSight sol 328 (2019-10-29) low -102.3ºC (-152.2ºF) high -25.2ºC (-13.3ºF)\nwinds from the SSE at 4.9 m/s (10.9 mph) gusting to 18.3 m/s (40.9 mph)\npressure at 7.00 hPa',
 'InSight sol 327 (2019-10-28) low -102.6ºC (-152.7ºF) high -25.3ºC (-13.5ºF)\nwinds from the SSE at 5.6 m/s (12.5 mph) gusting to 19.6 m/s (43.8 mph)\npressure at 7.00 hPapic.twitter.com/B3xpG54HEx',
 'InSight sol 326 (2019-10-27) low -101.4ºC (-150.5ºF) high -23.7ºC (-10.7ºF)\nwinds from the SSE at 5.2 m/s (11.5 mph) gusting to 18.2 m/s (40.8 mph)\npressure at 7.00 hPapic.twitter.com/zSxE0oiy1D',
 'You gotta keep ‘em separated \n\nEngineers and technicians working on the #Mars2020 spacecraft look on as a crane lifts the rocket-powered descent stage away from the rover after a test: https://go.nasa.gov/2IpH4I3\xa0pic.twitter.com/tBLCWS0b5q',
 'InSight sol 325 (2019-10-26) low -102.0ºC (-151.7ºF) high -24.0ºC (-11.2ºF)\nwinds from the SSE at 4.9 m/s (11.0 mph) gusting to 19.1 m/s (42.7 mph)\npressure at 7.00 hPapic.twitter.com/P20JfRjcVi',
 'InSight sol 324 (2019-10-25) low -102.4ºC (-152.3ºF) high -24.8ºC (-12.6ºF)\nwinds from the SSE at 5.4 m/s (12.0 mph) gusting to 18.1 m/s (40.5 mph)\npressure at 7.00 hPapic.twitter.com/goHqhpyD8O',
 'InSight sol 322 (2019-10-23) pressure at 7.00 hPa',
 'InSight sol 321 (2019-10-22) low -102.9ºC (-153.2ºF) high -24.6ºC (-12.3ºF)\nwinds from the SSE at 4.8 m/s (10.8 mph) gusting to 18.6 m/s (41.6 mph)\npressure at 7.10 hPapic.twitter.com/FsE4d1Fskt',
 'InSight sol 320 (2019-10-21) low -102.4ºC (-152.3ºF) high -25.6ºC (-14.0ºF)\nwinds from the SSE at 4.7 m/s (10.5 mph) gusting to 18.5 m/s (41.4 mph)\npressure at 7.10 hPapic.twitter.com/TxQmtXP7xo',
 'InSight sol 319 (2019-10-19) low -101.5ºC (-150.7ºF) high -25.5ºC (-13.9ºF)\nwinds from the SSE at 4.6 m/s (10.4 mph) gusting to 18.4 m/s (41.2 mph)\npressure at 7.10 hPapic.twitter.com/gdBUdujdVM',
 'InSight sol 318 (2019-10-18) low -102.6ºC (-152.6ºF) high -24.6ºC (-12.4ºF)\npressure at 7.10 hPa',
 'InSight sol 317 (2019-10-18) low -103.2ºC (-153.8ºF) high -26.2ºC (-15.2ºF)\nwinds from the SSE at 5.6 m/s (12.5 mph) gusting to 22.2 m/s (49.7 mph)\npressure at 7.10 hPapic.twitter.com/LNDEvGwVDw',
 'InSight sol 316 (2019-10-16) low -101.8ºC (-151.3ºF) high -25.7ºC (-14.3ºF)\nwinds from the SSE at 4.7 m/s (10.5 mph) gusting to 18.2 m/s (40.8 mph)\npressure at 7.10 hPapic.twitter.com/tXtGZA6IPW',
 'InSight sol 315 (2019-10-15) low -101.6ºC (-150.9ºF) high -24.3ºC (-11.7ºF)\nwinds from the SSE at 5.4 m/s (12.0 mph) gusting to 20.4 m/s (45.7 mph)\npressure at 7.10 hPa']

In [21]:
mars_weather = weather_of_Mars[0]
print(mars_weather)

InSight sol 334 (2019-11-04) low -100.0ºC (-148.1ºF) high -23.8ºC (-10.8ºF)
winds from the SSW at 5.1 m/s (11.4 mph) gusting to 19.9 m/s (44.4 mph)
pressure at 7.00 hPapic.twitter.com/D4EX1MROay

# Mars Facts

In [27]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [28]:
url = 'https://space-facts.com/mars/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [35]:
tables = soup.find_all('table', class_='tablepress tablepress-id-p-mars')

In [47]:
for column in tables:
    column1 = column.find_all('td', class_= "column-1").text

    print(column1)

AttributeError: ResultSet object has no attribute 'text'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [53]:
url='https://space-facts.com/mars/'
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [65]:
df=tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [69]:
Mars_df = df.rename(columns={'0': 'Mars Facts',
                          'Mars': 'Value'})
Mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [64]:
html_table = Mars_df.to_html('table.html')